<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346657576575-6jccphog8rff5nsu4u3plvjvkdr82egg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346657576575-6jccphog8rff5nsu4u3plvjvkdr82egg</string>
	<key>API_KEY</key>
	<string>AIzaSyDNOGKoArurfOG6NCKiuAmgajQv4cfGI-I</string>
	<key>GCM_SENDER_ID</key>
	<string>346657576575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.OGClass</string>
	<key>PROJECT_ID</key>
	<string>ogclass-ef85d</string>
	<key>STORAGE_BUCKET</key>
	<string>ogclass-ef85d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346657576575:ios:cff5b47624f5af740cd14a</string>
	<key>DATABASE_URL</key>
	<string>https://ogclass-ef85d.firebaseio.com</string>
</dict>
</plist>